.git
.github
.env
.env.*
.DS_Store
.turbo
dist
node_modules
web/**/node_modules
web/apps/app/.svelte-kit
web/apps/app/build
web/apps/client/dist
internal/web/dist
*.db
*.db.wal
*.duckdb
*.duckdb.wal
coverage.out
